.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 280px;
    box-shadow: 0px 0px 5px;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #be9656;
    line-height: 12px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-shadow: 0px 0px 1px;
    cursor: pointer;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.postDate{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}
.postDesc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
@media screen and (max-width: 550px) {
    .postImg{
        height: 100%;
    }
    .post{
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }
    .postTitle{
        font-size: 15px;
    }
    .postDesc{
        font-size: 11px;
    }
  }